<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Đăng nhập</label>
		<input id="tab-2" type="radio" name="tab" class="for-pwd"><label for="tab-2" class="tab">Quên mật khẩu</label>
		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
					<label for="user" class="label">Tài khoản :</label>
					<input id="user" type="text" class="input" placeholder="Mã sinh viên">
				</div>
				<div class="group">
					<label for="pass" class="label">Mật khẩu :</label>
					<input id="pass" type="password" class="input" data-type="password" placeholder="Mật khẩu">
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="group">
                            <input type="button" class="button" value="Trang chủ" routerLink="/home">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="group">
                            <input type="submit" class="button" value="Đăng nhập" routerLink="/daotao/bangtin">
                        </div>
                    </div>
                </div>
				<div class="hr"></div>
			</div>
			<div class="for-pwd-htm">
				<div class="group">
					<label for="user" class="label">Tài khoản :</label>
					<input id="user" type="text" class="input" placeholder="Mã sinh viên">
				</div>
				<div class="group">
					<input type="submit" class="button" value="Lấy lại mật khẩu">
				</div>
				<div class="hr"></div>
			</div>
		</div>
	</div>
</div> 


<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Đăng nhập</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Tài khoản :</label><br>
                                <input type="text" name="username" id="username" class="form-control" placeholder="Mã sinh viên">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Mật khẩu :</label><br>
                                <input type="text" name="password" id="password" class="form-control" placeholder="Mật khẩu">
                            </div>
                            <div class="d-flex justify-content-around">
                                <div>
                                    <a href="">Quên mật khẩu ?</a>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <button type="button" class="rounded float-left" routerLink="/home">Trang chủ</button>
                                        <button type="button" class="rounded float-right" routerLink="/daotao/bangtin">Đăng nhập</button>
                                      </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body> -->